<form action="/links" method="post">
  <label>Title</label><input type="text" name="title">
  <label>Web address</label><input type="text" name="url">
  <label>Tag</label><input type="text" name="tags">
  <input type="submit" value="Save!">
</form>
  
